Django==4.1.9
django_otp
django-cors-headers==4.1.0
django-ckeditor==6.7.0
django-filebrowser==4.0.3
razorpay==1.4.1
pyOpenSSL==24.0.0
django-extensions==3.2.3
Werkzeug==3.0.1
whitenoise==6.5.0


# sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/ssl/private/nginx-selfsigned.key -out /etc/ssl/certs/nginx-selfsigned.crt
# sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout nginx-selfsigned.key -out nginx-selfsigned.crt
#  sudo python3 manage.py runserver_plus --cert-file nginx-selfsigned_crt.crt --key-file nginx-selfsigned_key.key 0.0.0.0:443

# sudo certbot certonly --standalone -d myguruplus.com