<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>We have morethan 6 years of experience in running successful Test batches for TNPSC exams, with latest user friendly website modules.</h2>

        </section>
        <section>
            <p>We offer a variety of resources to help you prepare for your TNPSC exam, including:</p>
            <ul>
                <li>தமிழ் & GK PDF notes </li>
                <li>Free mock tests,current affairs test to help you practice your skills</li>
                <li>Separate Ilakkiyam notes and tests based on each topics</li>
                <li>Previous year question papers [2012-2024] to help you practice for the exam</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>for more details check our COURSE Page</p>
    </footer>
</body>

</html>